body{
  background-color: #ffccff;
}
.jumbotron{
  box-shadow: 10px 10px 5px #888888;
  -moz-box-shadow: 10px 10px 5px #888888;
  -khtml-box-shadow: 10px 10px 5px #888888;
  -o-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  -ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(OffX=10, OffY=10, Color='#888888')";
  filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=10, OffY=10,Color='#888888');
}
h1{
  text-align: center;
}
img{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); /* IE 5.5-7*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";/* IE 8*/
  -moz-opacity:0.9;
  -khtml-opacity:0.9;
  -o-opacity:0.9;
  -webkit-opacity:0.9;
  opacity:0.9;
}
